:root {
    --gradient: linear-gradient(
      180deg,
      #d8aa9cba 0%,  
      #834826 100%
    );
}
body {
    margin: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--gradient)
}

/* Shopping list container*/
.shopping-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2rem;
  padding: 3rem;
  height: 50%;
  width: 60%;
  box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
  max-width: 30rem;
}

h2 {
    margin: 0%;
    text-transform: uppercase;
    height: 3rem;
    color: rgb(43, 41, 40);
    text-align: center;
  }

  /*input area*/
  .input {
    position: relative;
    display: flex;
  }

  .input-field {
    width: 100%;
    background-color:  rgba(230, 210, 230, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    padding: 1.25rem;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(15, 15, 15, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  .input-field:focus {
    outline: none;
    border: 0.06rem solid rgb(159, 118, 174);
    box-shadow: 0 0 5px rgba(159, 118, 174, 0.5);
  }

  /*styling the add button*/
  .btn {
    color: white;
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(
      180deg,
      rgba(202, 156, 191, 0.6),
      rgba(159, 118, 174, 1)
    );
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px rgba(15, 15, 15, 0.1);
    transition: all 0.3s ease;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    cursor: pointer;
  }
  .btn:hover {
    background: linear-gradient(
      180deg,
      rgba(159, 118, 174, 1),
      rgba(202, 156, 191, 0.6)
    );
    box-shadow: 0 4px 8px rgba(15, 15, 15, 0.2);
  }
  
  .btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(159, 118, 174, 0.7);
  }